/* 8
#numb{
    display: block;
    text-align: center;
    font-size: 10rem;
}
.counter{
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
}
.counter button{
    font-size: 2rem;
} */


/* .imagehide img{
    width: 500px;
} */

/* #myDiv {
    width: 200px;
    height: 200px;
    background: aqua;
    border: 5px solid blue;
    position: relative;
} */


/* .myDiv {
    width: 150px;
    height: 150px;
    background: purple;
    position: relative;
} */


/* #myCanvas{
    border: 1px solid black;
    background-color: aqua;
} */


/* #myDiv{
    border: 1px solid black;
    background-color: aqua;
    height: 1500px;
    width: 1500px;
} */